{% extends 'main.html' %}
{% block content %}

<p>hello oyou are on the {{page}} page, the page name is dynamic</p>

{%  if number > 10 %}
<p>number greater than 10</p>

{%  elif number == 10 %}
<p>number equal to 10</p>

{% else %}
<p>number less than  10</p>
{% endif %}
https://www.youtube.com/watch?v=yma_CN-o7XM
<ul>
    {% for project in projects %}
        <li> id: {{project.id}} </li>
        <!-- <li> Title: <a href="/project/{{project.id}}">{{project.title}}</a> </li> -->
        <li> Title: <a href="{% url 'project' project.id %}">{{project.title}}</a> </li>
        <li> description: {{project.description}} </li>
    {% endfor %}
</ul>
{% endblock content %}